* {
  font-family: "Open Sans", sans-serif;
  background-color: #24273a;
  color: #cad3f5;
  text-align: center;
}

h1 {
  font-weight: bold;
  color: #a6da95;
}

h2 {
  font-style: italic;
  color: #c6a0f6;
}

img {
  height: 300px;
}

a {
  color: #eed49f;
  text-decoration: none;
}

li {
  list-style-position: inside;
}

ul > li {
  list-style: none;
}

sub {
  font-style: italic;
}
